build/
out/
cmake-build-*/
.vs/
.vscode/
.idea/
*.user
*.suo
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
_deps/
compile_commands.json
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk
